#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C6BEBA;
}

.banner-blitz {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #b1a6b4;
}

.blitz-bg  {
  display: flex;
  padding: 0.3rem;
  margin: 0.2rem;
  width: 95%;
  height: 22rem;
}

.table-todo,
.todo {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.table-todo {
  margin: 0.5rem;
  padding: 0.2rem;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.todo {
  justify-content: space-evenly;
}

.btn-side {
  display: flex;
  flex-direction: row;
}

#dropdown-status {
  margin-bottom: 10.5rem;
}
